Django==5.2.6
dj-database-url==3.1.2
gunicorn==26.0.0
whitenoise==6.12.0
python-dotenv==1.1.1

psycopg2-binary==2.9.12

pandas==2.3.2
numpy==2.2.6
scipy==1.16.2
scikit-learn==1.7.2
statsmodels==0.14.5

openpyxl==3.1.5
xlrd==2.0.2

plotly==6.9.0
matplotlib==3.10.6
seaborn==0.13.2

Pillow==11.3.0

djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-filter==26.1
django-cors-headers==4.9.0
django-crispy-forms==2.6
django-allauth==65.18.0

requests==2.34.2
PyYAML==6.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2

reportlab==4.4.3
qrcode==8.2